<header>
  <img src="/images/hradar.png" id="logo">
  <nav>
    <ul class="nav-links">
      <li><a href="http://localhost:3000/">Home</a></li>
      <li><a href="http://localhost:3000/About">About</a></li>
      <li><a href="http://localhost:3000/Contact">Contact</a></li>
    </ul>
  </nav>
</header>
<hr>